/* Landing Page */

body{
    background-image: url(Resources/loadingscreen01.png);
    background-size: cover;
    background-color:rgb(68, 53, 53) !important;
    font-family: 'badgrunge' !important;
    
}
@font-face {
  font-family: badgrunge;
  src: url('badgrunge.ttf'); 
  src: local("badgrunge"), url('badgrunge.ttf');
  }
/* .item9 {
  font-family: 'badgrunge';
  font-size: 4rem !important;
  font-size: 20px;
} */
/* navbar */

.columnItem {
  padding: 15px;
  margin-top: 15px;
}
.navbar{
    height: 20vh !important;
    max-width: 100vw;
    
    font-size: 4vh !important;
    font-weight: lighter !important;
    justify-content: center;
    align-content: center !important;
    background-image: url(pic/bannerCar.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: auto;
    background-color: black;
}
.dunesBrand {
  font-size: 10vh !important;
}

.logoBack {
  /*animation-delay: 2s;*/
  background-image: url(dodLogo.png)!important ;
  
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80vh;

  animation: pulse 3s infinite;
  margin: 0 auto;
  display: table;
  margin-top: 50px;
  animation-direction: alternate;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.3;
  }
}
.roadBG{
    text-align: center;
    max-width: 1700px;
}

#navbar {
  
  position: sticky;
  top: 0;
  width: 100%;
  display: block;
  transition: top 0.3s;
}

#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  /* padding: 15px; */
  text-decoration: none;
  /* font-size: 17px; */
}

.combats {
  background-image: url(Resources/Combat.gif);
  background-size: cover;
}

.team1{
  height: auto;
  /* height: auto !important; */
}
.testar {
  margin-top: 200px;
  height: 40vh;
  opacity: 0.4;
  ;
}
.testar:hover{
  opacity: 1;
}

.about{
  /* width: 100%; */
  height: 40vh !important;

  background-image: url(Resources/mockup.jpg);
  background-size: cover; */
  /* opacity: 0.5 !important;  */
  /* overflow: auto;  */
}
.aboutText{
  overflow: hidden;
}

.news {
  overflow:hidden;
  transition:height 0.3s ease-out;
  height: 120vh;
  max-height:600px; 
  /* font-family: 'badgrunge'; */
  background-color: navajowhite !;
}
/* .news:hover {
  height: 120vh;
} */

.twitters {
  height: 50vh;
  overflow:hidden;
  transition:height 0.3s ease-out;
  max-height:600px; 
  background-color: navajowhite !;
  overflow: scroll;
}
.twitters:hover {
  height: 120vh;
}

.bg-dunes{
    background-color: #524b48 ;
    
}
.bg-dunes1{
  background-color: #d37d43 !important;
  
}
.bg-dunes2{
  background-color: #8d8d8c !important;
  
}
/* DevArt */

/* About */

/* Team */
#myTeam1{
    margin-top: 20vh;
}

/* Twitter */

/* News */

/* Fotter */
.footer {
  width: 100% !important;
  background-image: url(Resources/Car\ Variations.png) !important;
  background-position: center;
  background-size: cover;
  padding-top: 2vh;
  padding-right: 3vh;
}
/* .fot{
  
} */
